<div class="clientes-container">

  <h1>Cadastro de Clientes</h1>

  <form>

    <label for="nome">Nome</label>
    <input
      id="nome"
      name="nome"
      type="text"
      placeholder="Digite o nome"
      [(ngModel)]="nome"
    >

    <label for="email">E-mail</label>
    <input
      id="email"
      name="email"
      type="email"
      placeholder="Digite o e-mail"
      [(ngModel)]="email"
    >

    <label for="senha">Senha</label>
    <input
      id="senha"
      name="senha"
      type="password"
      placeholder="Digite a senha"
      [(ngModel)]="senha"
    >

  <button
  type="button"
  (click)="cadastrarCliente()"
>
  Cadastrar
</button>

  </form>

  <h2>Clientes cadastrados</h2>

@for (cliente of clientes; track cliente.email) {

  <div class="cliente">

    <p><strong>Nome:</strong> {{ cliente.nome }}</p>

    <p><strong>E-mail:</strong> {{ cliente.email }}</p>

    <button
  type="button"
  (click)="editarCliente(cliente)"
>
  Alterar
</button>

  <button
    type="button"
    (click)="excluirCliente(cliente)"
  >
    Excluir
  </button>

  </div>

}

</div>