<section class="hero">
  <div class="container hero-content">

    <div class="hero-text">
      <p class="eyebrow">COLECIONE A VELOCIDADE</p>

      <h1>
       Fórmula 1 em miniatura, 
       para colecionadores.
      </h1>

      <p class="hero-description">
       Miniaturas que levam a emoção das pistas para o seu coração e coleção.
      </p>

      <div class="hero-actions">
        <a routerLink="/produtos" class="button button-primary">
          Ver modelos
        </a>

        <a routerLink="/carrinho" class="button button-secondary">
          Ver carrinho
        </a>
      </div>
    </div>

  <div class="hero-card">
  <span class="numero-card"></span>

  <img
    src="/imagens/home.gif"
    alt="Carro de Fórmula 1 em movimento"
    class="hero-card-img"
  >
</div>

  </div>
</section>


<section class="section">
  <div class="container">

    <div class="section-heading">
      <p class="eyebrow">POR QUE COLECIONAR?</p>

      <h2>
        Os carros que marcaram a história da Fórmula 1, em miniatura.
      </h2>
    </div>

    <div class="feature-grid">

      <article class="feature-card">

        <div class="feature-icon">
          01
        </div>

        <h3>Encontre seu modelo favorito</h3>

        <p>
          Miniaturas de carros icônicos para você escolher e colecionar.

        </p>

      </article>


      <article class="feature-card">

        <div class="feature-icon">
          02
        </div>

        <h3>Colecione momentos da F1</h3>

        <p>
          Reviva grandes histórias e conquistas através de modelos em miniatura.
        </p>

      </article>


      <article class="feature-card">

        <div class="feature-icon">
          03
        </div>

        <h3>Feito para quem ama velocidade</h3>

        <p>
          Uma coleção para fãs que carregam a paixão pela Fórmula 1 para além das pistas.

        </p>

      </article>

    </div>

  </div>

