<div class="manutencao-container">

  <h1>Manutenção de Produtos</h1>

  <h2>Cadastrar produto</h2>

  <form>

    <label for="nome">Nome</label>
    <input
      id="nome"
      name="nome"
      type="text"
      placeholder="Digite o nome do produto"
      [(ngModel)]="nome"
    >

    <label for="categoria">Categoria</label>
    <input
      id="categoria"
      name="categoria"
      type="text"
      placeholder="Digite a categoria"
      [(ngModel)]="categoria"
    >

    <label for="descricao">Descrição</label>
    <textarea
      id="descricao"
      name="descricao"
      placeholder="Digite a descrição"
      [(ngModel)]="descricao"
    ></textarea>

    <label for="preco">Preço</label>
    <input
      id="preco"
      name="preco"
      type="number"
      [(ngModel)]="preco"
    >

    <label for="cor">Cor</label>
    <input
      id="cor"
      name="cor"
      type="text"
      placeholder="Ex.: #d71920"
      [(ngModel)]="cor"
    >

    <button
      type="button"
      (click)="cadastrarProduto()"
    >
      @if (produtoEditando) {
        Salvar alteração
      } @else {
        Cadastrar
      }
    </button>

  </form>

  <h2>Produtos cadastrados</h2>

  @for (produto of produtos; track produto.id) {

    <div class="produto">

      <p><strong>ID:</strong> {{ produto.id }}</p>

      <p><strong>Nome:</strong> {{ produto.nome }}</p>

      <p><strong>Categoria:</strong> {{ produto.categoria }}</p>

      <p><strong>Descrição:</strong> {{ produto.descricao }}</p>

      <p><strong>Preço:</strong> {{ produto.preco | currency:'BRL':'symbol':'1.2-2' }}</p>

      <p><strong>Cor:</strong> {{ produto.cor }}</p>
      <button
      
      type="button"
      (click)="editarProduto(produto)"
    >
      Alterar
    </button>

    <button
  type="button"
  (click)="excluirProduto(produto)"
>
  Excluir
</button>

    </div>

  }

</div>