<div class="login-container">

  <h1>Login</h1>

  <form>

    <label for="email">E-mail</label>

    <input
      id="email"
      name="email"
      type="email"
      placeholder="Digite seu e-mail"
      [(ngModel)] = "email"
      (keyup) = "validarFormulario()"
    >

    <label for="senha">Senha</label>

    <input
      id="senha"
      name="senha"
      type="password"
      placeholder="Digite sua senha"
      [(ngModel)] = "senha"
      (keyup) = "validarFormulario()"
    >

    <button   type="submit"
  [disabled]="botaoDesabilitado"
  (click)="fazerLogin()"
>
  Entrar
    </button>

    <p class="cadastro-link">
  Ainda não sou cadastrado?
  <a routerLink="/clientes">Cadastre-se</a>
</p>

  </form>

</div>